@import url('../assets/colors.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Calibri, sans-serif;
}

body {
    display: flex;
    height: 100vh;
    background-color: #FFFFFF;
}

.sidebar {
    width: 250px;
    background-color: var(--secondaire);
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar .menu {
    flex-grow: 1;
}

.sidebar a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background 0.3s, transform 0.3s;
}

.sidebar a:hover {
    background-color: #2ABECC;
    transform: translateX(5px);
}

.sidebar a .icon {
    margin-right: 15px;
}

.main-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.header {
    background-color: var(--principal);
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.content {
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.stats-section {
    background-color: #FFF;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.stats-section h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #2ABECC;
}

.stats {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.stat {
    background-color: #F9F9F9;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.stat h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #943A20;
}

.stat ul {
    list-style: none;
}

.stat ul li {
    padding: 5px 0;
    color: var(--secondaire);
}