:root {
  --principale: #EB1553;
  --secondaire: #4060AD;
  --tertiaire: #2ABECC;
  --blanc: #FFFFFF;
  --couleur1: #AAABA;
  --couleur2: #159CD6;
  --couleur3: #EE6F5C;
  --couleur4: #DFE329;
  --couleur5: #CC5EA3;
  --couleur6: #EA9833;
  --couleur7: #943A20;
}

body {
  font-family: 'Calibri', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--secondaire);
  background-image: url('texture.png');
  background-size: cover;
  margin: 0;
  animation: fadeIn 1s ease-in-out;
}

.veille-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  text-align: center;
}

.logo {
  width: 100px;
  margin-bottom: 20px;
}

.welcome-message {
  color: var(--principale);
  font-size: 30px;
  font-family: 'Barlow Black', sans-serif;
  margin-bottom: 20px;
}

.veille-message {
  background: var(--blanc);
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 350px;
  color: var(--principale);
  font-size: 24px;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
  font-family: 'Barlow Black', sans-serif;
  animation: pulse 2s infinite;
}

.veille-message:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.menu-images {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  flex-wrap: wrap;
}

.menu-images img {
  width: 100px;
  height: 100px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.menu-images img:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.05); }
  100% { transform: scale(1); }
}