@import url('../assets/../assets/colors.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Calibri, sans-serif;
}

body {
    display: flex;
    height: 100vh;
    background-color: #FFFFFF;
}

.sidebar {
    width: 250px;
    background-color: var(--secondaire);
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
}

.sidebar .menu {
    flex-grow: 1;
}

.sidebar a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background 0.3s, transform 0.3s;
}

.sidebar a:hover {
    background-color: #2ABECC;
    transform: translateX(5px);
}

.sidebar a .icon {
    margin-right: 15px;
}

.main-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-left: 250px; /* Même largeur que la sidebar */
}

.header {
    background-color: var(--principal);
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: calc(100% - 250px); /* Prendre en compte la largeur de la sidebar */
    left: 250px; /* Aligner le header avec la sidebar */
    top: 0; /* Fixer le header en haut */
    z-index: 1000; /* S'assurer que le header est au-dessus du contenu */
}

.content {
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 70px; /* Compense la hauteur du header */
}

.cuisine-section {
    background-color: #FFF;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cuisine-section img {
    max-height: 100px;
}

.cuisine-section .cuisine-details {
    flex-grow: 1;
    margin-left: 20px;
}

.cuisine-section button {
    background-color: #943A20;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: background 0.3s, transform 0.3s;
}

.cuisine-section button:hover {
    background-color: #943A20;
    transform: scale(1.05);
}

.statistics, .stock {
    background-color: #EA9833;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    margin-top: 10px;
    text-align: center;
    width: fit-content;
}

.stock {
    background-color: #DFE329;
}